header{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: 20px;
    gap: 4px;
    align-items: flex-end;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    z-index: 15;
}

header>div{
    color: black;
    font-size: 12px;
}

header>a{
    color: #2964C1;
}

.sounds{
    color: #2964C1;
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 768px){
    header{
        top: 20px;
    }
}